################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Xabe.VideoConverter.Test/obj
/Xabe.VideoConverter.Test/bin/Debug/netcoreapp2.0
/.vs/videoconverter/v15/sqlite3
/Xabe.VideoConverter/bin/Debug/netcoreapp2.0
/Xabe.VideoConverter/obj
/.vs/Xabe.VideoConverter/v15/sqlite3/storage.ide
/.vs/config/applicationhost.config
/.vs/Xabe.VideoConverter/v15/sqlite3
