language: csharp
mono: none
dotnet: 2.0.0
dist: trusty
sudo: true
addons:
  apt:
    packages:
    - sshpass
before_install:
  - sudo apt-get install zip -y
 deploy:
  provider: releases
  user: $GITHUB_USER
  password: $GITHUB_PASSWORD
  file: "Xabe.VideoConverter/Xabe.VideoConverter.zip"
  skip_cleanup: true
  on:
    tags: true
script:
 - ./build.sh
